@font-face {
    font-family: "Empires";
    src: url("../fonts/Empires.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');

*,
*::before,
*::after {
    box-sizing: inherit;
}

$vultureColor: rgb(100, 30, 150);

html {
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;

    color: white;
    scroll-behavior: smooth;
}

::selection {
    background-color: $vultureColor;
}

body {
    padding: 0;
    margin: 0;

    header {
        width: 100%;

        nav {
            z-index: 100000;
            position: fixed;
            top: 0;

            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 100%;

            background-color: rgb(20, 20, 20);

            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2);

            .logo {

                a {
                    font-family: "Empires";
                    font-weight: 100;

                    font-size: 4em;

                    text-shadow: 0px 0px 5px black;
                    text-decoration: none;

                    margin: 0 3rem;

                    color: white;
                }
            }

            .list {
                margin: 0 3rem;

                ul {
                    list-style: none;
                    display: flex;

                    li {
                        padding: 2rem 1rem;

                        a {
                            color: white;

                            text-align: center;

                            text-transform: uppercase;
                            text-decoration: none;

                            font-size: 1rem;

                            &::after {
                                content: "";

                                display: block;

                                position: relative;

                                bottom: 0;
                                left: 50%;

                                background-color: white;

                                width: 0;
                                height: 1px;

                                transition: left ease .1s, width ease .1s;
                            }

                            &:hover {
                                &::after {
                                    left: 0;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }

            #scrolly {
                display: block;

                position: absolute;

                height: 5px;

                bottom: 0;
                left: 0;

                background: linear-gradient(to right, rgb(80, 10, 130), rgb(100, 30, 150))
            }
        }
    }

    main {
        width: 100%;

        .content-wrapper {
            width: 100%;

            section {
                min-height: 100vh;
                width: 100%;

                display: flex;
                justify-content: center;
                align-items: center;

                flex-direction: column;

                color: white;

                overflow: hidden;

                h1 {
                    font-size: 3rem;

                    font-weight: black;
                    border-bottom: 1px solid white;
                }

                &#home {
                    position: relative;
                    background-color: rgb(30, 30, 30);

                    &::before {
                        content: "home";
                        position: absolute;
                        bottom: 0;
                        color: rgb(40, 40, 40);
                        font-size: clamp(10rem, 40rem, 20vw);
                        font-weight: bold;
                    }

                    iframe {
                        box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, .2);
                        outline: 1px solid rgb(100, 30, 150);
                    }
                }

                &#about {
                    position: relative;
                    background-color: rgb(40, 40, 40);

                    &::before {
                        content: "about";
                        position: absolute;
                        bottom: 0;
                        color: rgb(30, 30, 30);
                        font-size: clamp(10rem, 40rem, 20vw);
                        font-weight: bold;
                    }

                    p {
                        font-size: 1.2rem;

                        padding: 2rem 1rem;

                        z-index: 1;

                        span {

                            &#developer-tag {
                                a {
                                    text-decoration: none;
                                    color: $vultureColor;
                                    font-weight: bold;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
                }

                &#screenshots {
                    position: relative;
                    background-color: rgb(30, 30, 30);

                    &::before {
                        content: "screenshots";
                        position: absolute;
                        bottom: 0;
                        color: rgb(40, 40, 40);
                        font-size: clamp(10rem, 20rem, 20vw);
                        font-weight: bold;
                    }

                    .gallery {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: auto;
                        grid-column-gap: 20px;
                        grid-row-gap: 20px;

                        .screenshot {
                            img {
                                width: 400px;

                                transition: transform .3s ease;

                                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);

                                &:hover {
                                    transform: scale(1.2);
                                }
                            }
                        }
                    }
                }

                &#buy {
                    position: relative;
                    background-color: rgb(40, 40, 40);

                    &::before {
                        content: "buy";
                        position: absolute;
                        bottom: 0;
                        color: rgb(30, 30, 30);
                        font-size: clamp(10rem, 40rem, 20vw);
                        font-weight: bold;
                    }

                    .dots {
                        position: absolute;
                        fill: rgb(100, 100, 100);
                        animation: rotate (60s * 10) linear infinite;
                    }

                    @for $i from 1 to 101 {
                        svg g path:nth-child(#{$i}) {
                            animation: patternFade 10s ease infinite;
                            animation-delay: .02s * $i;
                            animation-fill-mode: both;
                        }
                    }

                    p {
                        font-size: 1.2rem;

                        padding: 2rem 1rem;

                        span {

                            &#discord-server,
                            &#developer-tag {
                                a {
                                    text-decoration: none;
                                    color: $vultureColor;
                                    font-weight: bold;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }

                    .discord-images {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            border-radius: 50%;

                            margin: 2rem 3rem;

                            transition: transform .3s ease;

                            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);

                            &:hover {
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        width: 100%;

        position: fixed;
        bottom: 0;

        z-index: 10000;

        background-color: rgb(20, 20, 20);

        .footer-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 0rem 2rem;

            a {
                transition: color ease .3s, transform ease .3s;

                color: white;

                padding: .5rem 1rem;

                &:hover {
                    color: $vultureColor;
                    transform: rotate(2deg) scale(1.2);
                }
            }
        }
    }

    .loader-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100000;
        width: 100%;
        height: 100%;
        background-color: rgb(20, 20, 20);

        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-family: "Empires";

            font-size: 4em;

            animation: colorLoader infinite ease 1s;
        }
    }

    .scroller {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 60px;
        height: 60px;

        background-color: rgba(255, 255, 255, .2);

        backdrop-filter: blur(5px);

        border-radius: 50%;

        position: fixed;
        top: 85%;
        right: 1em;

        transition: background-color ease .3s, opacity ease .3s;

        transform: rotate(180deg);

        opacity: 1;

        svg {
            animation: hovering 2s cubic-bezier(0.47, 0.11, 0.29, 1.06) infinite;
        }

        &:hover {
            background-color: rgba(255, 255, 255, .5);
        }

        p {
            font-size: 4em;
            margin-top: 1.35em;
        }
    }

    .hidden {
        opacity: 0;
    }
}

@supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
    /* ... parallax styles ... */
}

@media screen and (max-width: 1400px) {
    body {
        main {
            .content-wrapper {
                section {
                    &#screenshots {
                        .gallery {
                            grid-template-columns: repeat(2, 1fr);
                            grid-template-rows: auto;

                            padding: 2rem 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    body {

        header {

            nav {

                .list {
                    margin-right: 3rem;

                    ul {
                        flex-direction: column;

                        li {
                            padding: 1rem 0rem;
                        }
                    }
                }
            }
        }

        main {
            .content-wrapper {
                section {

                    &#home {
                        iframe {
                            width: 640px;
                            height: 360px;
                        }
                    }

                    &#screenshots {

                        .white-rect {

                            &::after {
                                height: 60%;
                            }
                        }

                        .gallery {
                            display: flex;

                            justify-content: center;
                            align-items: center;

                            flex-direction: column;

                            .screenshot {
                                a {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    img {
                                        width: 80%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 700px) {
    body {
        main {
            .content-wrapper {
                section {

                    &#home {
                        iframe {
                            width: 426px;
                            height: 240px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    body {
        main {
            .content-wrapper {
                section {

                    &#home {
                        iframe {
                            width: 256px;
                            height: 144px;
                        }
                    }
                }
            }
        }
    }
}

@keyframes colorLoader {

    0%,
    100% {
        color: white;
    }

    50% {
        color: rgb(100, 30, 150);
    }
}

@keyframes patternFade {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(.8);
    }

    100% {
        transform: rotate(360deg) scale(.8);
    }
}

@keyframes hovering {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(5px);
    }
}