@font-face {
    font-family: "Empires";
    src: url("../fonts/Empires.ttf");
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

$vultureColor: rgb(100, 30, 150);

html {
    box-sizing: border-box;

    font-family: sans-serif;

    color: white;

    scroll-behavior: smooth;

    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;

    width: 100%;

    header {
        width: 100%;


        nav {
            z-index: 100000;
            position: fixed;
            top: 0;

            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 100%;

            background-color: rgb(20, 20, 20);

            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2);

            .logo {

                a {
                    font-family: "Empires";
                    font-weight: 100;

                    font-size: 4em;

                    text-shadow: 0px 0px 5px black;
                    text-decoration: none;

                    margin: 0 3rem;

                    color: white;
                }
            }

            .list {
                margin: 0 3rem;

                ul {
                    list-style: none;
                    display: flex;

                    li {
                        padding: 2rem 1rem;

                        a {
                            color: white;

                            text-align: center;

                            text-transform: uppercase;
                            text-decoration: none;

                            font-size: 1rem;

                            &::after {
                                content: "";

                                display: block;

                                position: relative;

                                bottom: 0;
                                left: 50%;

                                background-color: white;

                                width: 0;
                                height: 1px;

                                transition: left ease .1s, width ease .1s;
                            }

                            &:hover {
                                &::after {
                                    left: 0;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    main {
        width: 100%;

        .content-wrapper {
            width: 100%;

            section {
                min-height: 100vh;
                width: 100%;

                display: flex;
                justify-content: center;
                align-items: center;

                flex-direction: column;

                color: white;

                h1 {
                    font-size: 3rem;

                    font-weight: 100;
                    border-bottom: 1px solid white;
                }

                &#home {
                    background-color: rgb(30, 30, 30);

                    iframe {
                        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2);
                    }
                }

                &#about {
                    position: relative;
                    background-color: rgb(40, 40, 40);

                    .white-rect {
                        position: absolute;
                        display: block;

                        top: -4rem;
                        left: 0;

                        width: 60%;
                        height: 20%;

                        background-color: rgb(60, 60, 60);

                        &::before {
                            content: "";

                            position: absolute;

                            left: 40%;
                            bottom: -5rem;

                            width: 60%;
                            height: 100%;

                            background-color: rgb(100, 100, 100);
                        }

                        &::after {
                            content: "";

                            position: absolute;

                            left: calc(100% - 6rem);
                            bottom: -2rem;

                            width: calc(100% + 6rem);
                            height: 100%;

                            background-color: rgb(80, 80, 80);
                        }
                    }

                    p {
                        font-size: 1.2rem;

                        padding: 2rem 1rem;

                        z-index: 1;

                        span {

                            &#developer-tag {
                                a {
                                    text-decoration: none;
                                    color: $vultureColor;
                                    font-weight: bold;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
                }

                &#screenshots {
                    position: relative;
                    background-color: rgb(30, 30, 30);

                    .white-rect {
                        position: absolute;
                        display: block;

                        top: -4rem;
                        left: 0;

                        width: 30%;
                        height: 60%;

                        background-color: rgb(100, 100, 100);

                        &::after {
                            content: "";
                            position: absolute;
                            display: block;

                            left: 20%;
                            bottom: 50%;

                            width: 200%;
                            height: 120%;

                            background-color: rgb(80, 80, 80);
                        }
                    }

                    .gallery {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: auto;
                        grid-column-gap: 20px;
                        grid-row-gap: 20px;

                        .screenshot {
                            img {
                                width: 400px;

                                transition: transform .3s ease;

                                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);

                                &:hover {
                                    transform: scale(1.2);
                                }
                            }
                        }
                    }
                }

                &#buy {
                    position: relative;
                    background-color: rgb(40, 40, 40);

                    .white-rect {
                        position: absolute;

                        display: block;

                        width: 20%;
                        height: 30%;

                        left: 40%;

                        background-color: rgb(30, 30, 30);

                        &::after {
                            content: "";
                            position: absolute;

                            display: block;

                            width: 120%;
                            height: 70%;

                            left: 90%;
                            top: 60%;

                            background-color: rgb(60, 60, 60);
                        }
                    }

                    p {
                        font-size: 1.2rem;

                        padding: 2rem 1rem;

                        span {

                            &#discord-server,
                            &#developer-tag {
                                a {
                                    text-decoration: none;
                                    color: $vultureColor;
                                    font-weight: bold;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }

                    .discord-images {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            border-radius: 50%;

                            margin: 2rem 3rem;

                            transition: transform .3s ease;

                            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);

                            &:hover {
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        width: 100%;

        position: fixed;
        bottom: 0;

        z-index: 10000;

        background-color: rgb(20, 20, 20);

        .footer-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 0rem 2rem;

            a {
                transition: color ease .3s, transform ease .3s;

                color: white;

                padding: .5rem 1rem;

                &:hover {
                    color: $vultureColor;
                    transform: rotate(2deg) scale(1.2);
                }
            }
        }
    }

    .loader-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100000;
        width: 100%;
        height: 100%;
        background-color: rgb(20, 20, 20);

        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-family: "Empires";

            font-size: 4em;

            animation: colorLoader infinite ease 1s;
        }
    }

    .scroller {

        display: flex;
        justify-content: center;
        align-items: center;

        width: 60px;
        height: 60px;

        background-color: rgba(255, 255, 255, .2);

        backdrop-filter: blur(5px);

        border-radius: 100px;

        position: fixed;
        top: 85%;
        right: 1em;

        transition: background-color ease .3s, opacity ease .3s;
        transform: rotate(180deg);

        opacity: 1;

        &:hover {
            background-color: rgba(255, 255, 255, .5);
        }

        p {
            font-size: 4em;
            margin-top: 1.35em;
        }
    }

    .hidden {
        opacity: 0;
    }
}

@keyframes colorLoader {

    0%,
    100% {
        color: white;
    }

    50% {
        color: rgb(100, 30, 150);
    }
}

@media screen and (max-width: 1400px) {
    body {
        main {
            .content-wrapper {
                section {
                    &#screenshots {
                        .gallery {
                            grid-template-columns: repeat(2, 1fr);
                            grid-template-rows: auto;

                            padding: 2rem 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    body {

        header {

            nav {

                .list {
                    margin-right: 3rem;

                    ul {
                        flex-direction: column;

                        li {
                            padding: 1rem 0rem;
                        }
                    }
                }
            }
        }

        main {
            .content-wrapper {
                section {

                    &#home {
                        iframe {
                            width: 640px;
                            height: 360px;
                        }
                    }

                    &#screenshots {

                        .white-rect {

                            &::after {
                                height: 60%;
                            }
                        }

                        .gallery {
                            display: flex;

                            justify-content: center;
                            align-items: center;

                            flex-direction: column;

                            .screenshot {
                                a {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    img {
                                        width: 80%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 700px) {
    body {
        main {
            .content-wrapper {
                section {

                    &#home {
                        iframe {
                            width: 426px;
                            height: 240px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    body {
        main {
            .content-wrapper {
                section {

                    &#home {
                        iframe {
                            width: 256px;
                            height: 144px;
                        }
                    }
                }
            }
        }
    }
}